/* Here is your custom css styles. */
body {
    background:url(../medias/featureimages/34.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; 
    background-size: cover;     
    background-position:50% 50%;
}